/* Apply custom styles to the custom-bg class*/
.bg-dark {
  --bs-bg-opacity: 1;
  /* background-color: rgb(12, 12, 123) !important;*/
  background: linear-gradient(to right, #775be4, #0d0141);
}

.city {
  border: 1px solid black;
}

.date {
  font-size: 2rem;
}

.current-weather {
  margin: 1rem;
  padding: 1 rem;
}

.card {
  color: white;
  background: rgb(57, 77, 95);
  padding-left: 5px;
  line-height: 30px;
  border-radius: 0;
  width: 18%;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-button {
  background-color: rgb(24, 138, 219);
  color: white;
  border-radius: 0;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.input-group-append {
  width: 100%;
}

.form-input {
  width: 100%;
}

.form-group {
  width: 100%;
}

.weather-search {
  border-radius: 10px !important;
  padding: 10px;
}

.fiveDay-img {
  width: 48px;
}

.forecast-date {
  padding-top: 5px;
}

.list-group-item {
  background-color: rgb(208, 200, 200);
  margin: 3px;
}
